# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# directories for Go tools
pkg/
bin/

# Dependency directories (remove the comment below if you are using Go modules)
# vendor/

# Go workspace file
go.work

# IDE/editor specific files
.vscode/
.idea/

# Ebiten-specific cache files
*.ebiten

# Operating system specific files

# MacOS
.DS_Store

# Windows
Thumbs.db
